<%- include("./partials/header", {title: "Recipes"}); %>
<!-- <nav class="navbar fixed">
    <a class="logo" href="/recipes">Recipe App</a>
    <div class="dropdown">
        <button class="dropbtn">
            <i class="ri-account-circle-line" style="font-size: 30px;"></i> <%= user.username %>
        </button>
        <div class="dropdown-content">
            <a href="/users/<%= user._id %>">Profile</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
</nav> -->
<%- include("./navbar", {user: user})%>
<h3 id="errorMsg" style="color: #8b0000; margin-top: 20px; margin-bottom: 20px">
    <%= error_msg %>
</h3>
<h3 id="successMsg" style="color: green; margin-top: 20px; margin-bottom: 20px">
    <%= success_msg %>
</h3>
<% if (recipes.length > 0) { %>
<div class="recipes">
    <% recipes.forEach(recipe => { %>
    <div class="recipeCard">
        <div class="single_recipe_image">
            <img
                class="single_recipe_image"
                src="<%= recipe.recipeImage.imageUrl %>"
                alt="<%= recipe.title %>"
            />
        </div>
        <h3><%= recipe.title %></h3>
        <% if (recipe.description.length > 100) { %>
        <p><%= recipe.description.substring(0, 100) %>...</p>
        <% } else { %>
        <p><%= recipe.description %></p>
        <% } %>
        <a href="/users/<%= recipe.user._id %>" class="usernameLink">
            @ <%= recipe.user.username %>
        </a>
        <div class="viewsLikes">
            <div>
                <a href="/recipes/<%= recipe._id %>">View</a>
            </div>
            <div>
                <p><span><%= recipe.views %></span> views</p>
                <p><span><%= recipe.likes %></span> likes</p>
            </div>
        </div>
    </div>
    <% }) %>
</div>
<a href="/recipes/getCreateRecipe">Create Recipe</a>
<!-- <a href="/logout">Logout</a> -->

<!-- Pagination Controls -->
<div class="pagination">
    <% if (currentPage > 1) { %>
    <a
        href="?page=<%= currentPage - 1 %>&limit=<%= limit %>&sort=<%= sort %>&order=<%= order %>"
        >Previous</a
    >
    <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
    <a
        href="?page=<%= i %>&limit=<%= limit %>&sort=<%= sort %>&order=<%= order %>"
        class="<%= i === currentPage ? 'active' : '' %>"
    >
        <%= i %>
    </a>
    <% } %> <% if (currentPage < totalPages) { %>
    <a
        href="?page=<%= currentPage + 1 %>&limit=<%= limit %>&sort=<%= sort %>&order=<%= order %>"
        >Next</a
    >
    <% } %>
</div>
<% } else if (recipes.length <= 0) { %>
<a href="/recipes/getCreateRecipe">Create Recipe</a>
<a href="/logout">Logout</a>
<% } %> <%- include("./partials/footer") %>
