<%- include("./partials/header", {title: `${username}'s recipes`}); %>
<%- include("./navbar", {user: user})%>
<h2 class="heading2"><%= username %>'s Recipes</h2>
<div class="recipes">
    <% recipes.forEach(recipe => { %>
    <div class="recipeCard">
        <div class="single_recipe_image">
            <img
                class="single_recipe_image"
                src="<%= recipe.recipeImage.imageUrl %>"
                alt="<%= recipe.title %>"
            />
        </div>
        <h3><%= recipe.title %></h3>
        <% if (recipe.description.length > 100) { %>
        <p><%= recipe.description.substring(0, 100) %>...</p>
        <% } else { %>
        <p><%= recipe.description %></p>
        <% } %>
        <span>@ <%= user.username %></span>
        <div class="viewsLikes">
            <div>
                <a href="/recipes/<%= recipe._id %>">View</a>
            </div>
            <div>
                <p><span><%= recipe.views %></span> views</p>
                <p><span><%= recipe.likes %></span> likes</p>
            </div>
        </div>
    </div>
    <% }) %>
</div>
<a href="/recipes">Back To Recipes</a>
<%- include("./partials/footer") %>
